body {
  background-color: #f9f7fe;
  font-family: sans-serif;
  color: #b57bb4;
}
h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 34px;
  font-weight: 530;
  color: #9c90bb;
}
h2 {
  margin: 0 0 5px;
  font-size: 28px;
  font-weight: 500;
}

select {
  display: block;
  width: 100%;
  border-radius: 6px;
  padding: 10px;
  font-size: 18px;
  color: #b57bb4;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.date {
  opacity: 0.7;
  color: black;
}
.time {
  font-size: 48px;
}

.time small {
  font-size: 15px;
  vertical-align: middle;
  line-height: 36px;
  color: #9c90bb;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  color: #9c90bb;
}
